let mapleader = " "

" -- Plugins --
set surround
set multicursor
set NERDTree

Plug 'easymotion/vim-easymotion'
map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

" -- General settings --
set showmode
set relativenumber
set number
set scrolloff=5
set incsearch
set ideajoin
set ideastatusicon=gray

" -- Mappings --
map <leader>y \"+y
map <leader>p \"+p
map <leader>r <Action>(Run)
map <leader>d <Action>(Debug)
map \r <Action>(ReformatCode)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>/ <action>(ShowErrorDescription)
nmap <leader>w <action>(CloseEditor)
nnoremap <leader>n :NERDTree<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <c-f> :action Find<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
vnoremap y mcy`c

" -- Navigation --
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" For local replace
nnoremap gr gd[{V%::s/<C-R>///gc<left><left><left>

" For global replace
nnoremap gR gD:%s/<C-R>///gc<left><left><left>